# Created by .ignore support plugin (hsz.mobi)
### NetBeans template
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/

### PHPSTORM
.idea

/construccion/abstractFactoria/php_errors.php
/construccion/builder/php_errors.php
/construccion/decorador/php_errors.php
/construccion/factoryMethod/php_errors.php
/php_errors.log
/construccion/abstractFactoria/php_errors.log
/construccion/singleton/php_errors.log
